<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wheel01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <wheel01.Properties.Settings>
            <setting name="WheelFlipDirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WheelRotationRange" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AccStartHwValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccEndHwValue" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="BrkStartHwValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrkEndHwValue" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="CltStartHwValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CltEndHwValue" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="WheelHwValueOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WheelHwOverRotationOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </wheel01.Properties.Settings>
    </userSettings>
</configuration>
