<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="wheel01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <wheel01.Properties.Settings>
            <setting name="WheelFlipDirection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WheelRotationRange" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AccStartHwValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccEndHwValue" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="BrkStartHwValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BrkEndHwValue" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="CltStartHwValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CltEndHwValue" serializeAs="String">
                <value>4095</value>
            </setting>
            <setting name="WheelHwValueOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WheelHwOverRotationOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FFBValueSenderInterval" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FFBMultiplier" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FFBLinearity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FFBFlipVout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FFBMaxVout" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BrkLinearity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FFBLinearityMix" serializeAs="String">
                <value>100</value>
            </setting>
        </wheel01.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
